<header class="container offset-by-ten columns">
    <nav>
        <p>
            <span class="site-name"><a href="{{ site.baseurl }}/">Sastraswara</a></span>&emsp;<br>
            <a href="{{ site.baseurl }}/blog">Blog &ensp;</a><br>
            <a href="{{ site.baseurl }}/writing">Writing &ensp;</a><br>
            <a href="{{ site.baseurl }}/music">Music &ensp;</a><br>
            <a href="{{ site.baseurl }}/about">About &ensp;</a><br>
            <a href="{{ site.baseurl }}/contact">Contact</a>
        </p>
    </nav>
</header>
