h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 1.5 * $half-paragraph-margin;
}

h1 {
    font-family: $font-head-caps;
    text-transform: uppercase;
    font-size: $font-size-LARGE;
    letter-spacing: $letter-space-ratio * $font-size-LARGE;
    line-height: $font-size-LARGE;
    //text-align: center;
    //margin-top: 2 * $font-size-middle;
}

h2 {
    font-family: $font-head-normal, serif;
    //font-size: $font-size-Large;
    font-size: $font-size-middle;
    //letter-spacing: $letter-space-ratio * $font-size-Large;
    margin-top: 3 * $half-paragraph-margin;
    margin-bottom: $half-paragraph-margin;
    //line-height: $font-size-Large;
    line-height: $font-size-middle;
    //font-style: italic;
}

h3 {
    margin-top: 3 * $half-paragraph-margin;
    font-family: $font-head-normal, serif;
    font-size: $font-size-large;
    line-height: $font-size-large;
    font-style: italic;
    margin-bottom: $half-paragraph-margin;
    //margin-top: 3 * $half-paragraph-margin;
}

h4 {
    font-family: $font-head-caps, serif;
    font-size: $font-size-middle;
    margin-top: 3 * $half-paragraph-margin;
    margin-bottom: $half-paragraph-margin;
    line-height: $font-size-middle;
    letter-spacing: $letter-space-ratio * $font-size-middle;
}

p {
    font-size: $font-size-middle;
    font-family: $font-normal;
    margin-top: 1.5 * $half-paragraph-margin;
    margin-bottom: 1.5 * $half-paragraph-margin;
    line-height: 1.3 * $font-size-middle;
}

a {
    font-size: $font-size-footnote;
    font-family: $font-head-caps;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
    letter-spacing: $letter-space-ratio * $font-size-footnote;
    line-height: 1.3 * $font-size-middle;

    &:hover {
        color: $color-light-gray;
    }
    &:visited {
        color: $color-dark-gray;
    }
}

hr {
    margin-top: 1.5 * $font-size-middle;
    margin-bottom: 1.5 * $font-size-middle;
    width: 20%;
    border-width: thin 0 0 0;
    border-style: solid;
    border-color: $color-light-gray;
}

time {
    font-style: italic;
    font-size: $font-size-small;
}

ul {
    margin-left: $font-size-middle;
    list-style: square;
    list-style-position: inside;
}

li {
    font-size: $font-size-middle;
    margin-bottom: 0.125 * $half-paragraph-margin;
}

blockquote {
    padding-left: 0.3 * $font-size-middle;
    margin-top: 0.25 * $half-paragraph-margin;
    margin-bottom: 0.25 * $half-paragraph-margin;

    p {
        font-size: $font-size-middle;
        font-style: italic;
        line-height: 1 * $font-size-middle;
    }
}

code {
    font-family: $font-mono, monospace;
    font-size: $font-size-small;
}

img + em {
    font-size: $font-size-small;
    margin-bottom: 2 * $half-paragraph-margin;
    display: block;
    line-height: 1.3 * $font-size-small;
    padding: 0 (2 * $font-size-small);
}

figcaption {
    font-family: serif;
    font-style: italic;
    font-size: $font-size-footnote;
    line-height: 1.3 * $font-size-small;
    padding-left: 1rem;
    margin-bottom: $half-paragraph-margin;
    //align: right;
}

.references {
    p {
        font-size: $font-size-small;
        line-height: 1.3 * $font-size-small;
    }
    a {
        font-size: $font-size-script;
        line-height: 1.3 * $font-size-small;
    }
}
